@model IdentitySample.Models.RegisterViewModel

<div class="kt-login__head">
    <h3 class="kt-login__title">Register</h3>
</div>
@using (Html.BeginForm("Register", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "kt-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-md-6 col-xl-6 col-sm-12">
            @Html.TextBoxFor(m => m.House, new { @class = "form-control", type = "text", placeholder = "Enter House No." })
            @Html.ValidationMessageFor(m => m.House, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 col-xl-6 col-sm-12">
            @Html.TextBoxFor(m => m.Road, new { @class = "form-control", type = "text", placeholder = "Enter Road No." })
            @Html.ValidationMessageFor(m => m.Road, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-xl-6 col-sm-12">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", type = "text", placeholder = "Enter City" })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 col-xl-6 col-sm-12">
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control", type = "text", placeholder = "Enter Country", value="Bangladesh" })
            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="kt-login__actions" style="text-align: center;">
        <input type="submit" style="padding-left: 30px; padding-right: 30px;" id="kt_register_submit" value="Register" class="btn btn-brand btn-pill kt-login__btn-primary" />
    </div>
}
